body {
	background-color: white;
	font-family: "Open Sans", "Lato", "Roboto", "Arial";
}

th {
  background-color: #04AA6D;
  color: white;
}

td:hover {
	background-color: #f5f5f5 !important;
}

table, th, td {
  border: 1px solid black;
  border-color: #e3e3e3;
  padding: 15px;
  border-collapse: collapse;
}

h1 {
	color: white;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	background-color: #66a3d1;
	line-height:35px;
	width: 100%
}

h2 {
	color: #AB0031;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	background-color: #edc5d1;
	line-height:30px;
}

p {
	font-family: arial;
	font-size: 20px;
}

cuerpo_noticia {
	text-align: justify;
	text-justify: auto;
	font-family: arial;
	font-size: 15px;
	color: white;
}

hr.separador {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 0;
	display: block;
	padding: 10px;
	background-color: #555;
}

h3 {
	font-family: arial;
	font-size: 20px;
	text-align: center;
}

h4 {
	font-family: arial;
	font-size: 20px;
    width: 100%;
}